# Operating System & Cache
.DS_Store
__pycache__/
*.pyc
.venv/
node_modules/


# Environment & Secrets
.env
.env*.local
.env.production
.password.txt
password.txt
supabasepassword.txt

# Generated / Dynamic configs & SQL
frontend/config.js
config.js
supabase_schema.sql
supabase.schema.sql
*.sql
